.help-form {
    margin: 30px;
}

.help-field-container {
    margin: 15px 0;
    label {
        display: block;
        margin-bottom: 5px;
        font-size: 20px;
    }
    input, textarea {
        display: block;
        width: 400px;
        width: 50%;
        min-height: 150px;
        min-width: 200px;
        border-radius: 20px;
        border: none;
        background-color: #D9D9D9;
        padding: 10px;
        font-size: 18px;
        resize: none;
    }
    input:focus, textarea:focus {
        outline: 2px solid #1093E0;
    }
}

.help-submit-btn {
    margin-top: 10px;
    background-color: #1093E0;
    border: none;
    border-radius: 17px;
    width: 260px;
    height: 50px;
    font-size: 18px;
}