.main-page {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 580px));
    gap: 10px;
    align-items: start;
}

.interactive-cards-container {
    display: grid;
    /*grid-template-rows: auto auto min(250px) ;*/
    gap: 10px;
}

.interactive-cards {
    background-color: #D9D9D9;
    border-radius: 25px;
    padding: 15px;
    max-width: 580px;
    height: max-content;
    h2 {
        margin: 0 0 10px 0;
    }
}

.devise-list {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, auto));
    justify-content: space-around;
}

.device {
    /*position: relative;*/
    width: 130px;
    min-height: 130px;
    background-color: white;
    border-radius: 22px;
    /*margin: 5px;*/
    transition: 0.3s;
    img {
        height: 100px;
        display: block;
        margin: 10px auto;
    }
    p {
        margin: 5px 10px;
        font-size: 18px;
        text-align: center;
        word-wrap: break-word;
    }
}

.status-toggle-active {
    background-color: #1093E0;
}

.log-list-container {
    background-color: white;
    padding: 10px;
    border-radius: 24px;
    max-height: 460px;
    overflow-y: scroll;
    p {
        margin: 5px 0;
    }
    .error {
        color: #c50000;
    }
}