<form onsubmit="return false" class="help-form">
    <div class="help-field-container">
        <label for="theme">Тема вопроса</label>
        <input name="theme" id="theme" type="text" style="min-height: 30px;">
    </div>
    <div class="help-field-container">
        <label for="question">Вопрос</label>
        <textarea name="question" id="question"></textarea>
    </div>
    <input class="help-submit-btn" type="submit" value="Отправить">
</form>
