<form onsubmit="return false" class="help-form">
    <div class="help-field-container">
        <label for="theme">Тема вопроса</label>
        <input name="theme" id="theme" type="text" style="min-height: 30px;">
    </div>
    <div class="help-field-container">
        <label for="question">Вопрос</label>
        <textarea name="question" id="question"></textarea>
    </div>
    <input class="help-submit-btn" id="helpSubmitBtn" type="submit" value="Отправить">
</form>
{{#if admin}}
    <div class="questions-container">
        <p style="text-align: center; font-size: 28px; font-weight: bold; margin: 5px 0;">Вопросы от пользователей</p>
        {{#each questionList}}
            <div class="question">
                <h2 class="question-title">Тема: {{this.theme}}</h2>
                <h3>User id: {{this.user_id}}</h3>
                <p class="question-text">Текст: {{this.question}}</p>
            </div>
        {{/each}}
    </div>
{{/if}}

<script src="/static/javascripts/help.js"></script>
