<div class="main-page">
    <div class="interactive-cards-container">
        <div class="actions interactive-cards">
            <h2>Действия</h2>
            <div class="devise-list">
                <div class="device">
                    <img src="/static/images/devices_logo/logo.png" alt="">
                    <p>Светодиод</p>
                </div>
            </div>
        </div>
        <div class="active-device interactive-cards">
            <h2>Активные устройства</h2>
            <div class="devise-list">
                <div class="device">
                    <img src="/static/images/devices_logo/logo.png" alt="">
                    <p>Светодиод</p>
                </div>
                <div class="device">
                    <img src="/static/images/devices_logo/logo.png" alt="">
                    <p>Лампочка1</p>
                </div>
                <div class="device">
                    <img src="/static/images/devices_logo/logo.png" alt="">
                    <p>Лампочка2</p>
                </div>
                <div class="device">
                    <img src="/static/images/devices_logo/logo.png" alt="">
                    <p>Лампочка3</p>
                </div>
                <div class="device">
                    <img src="/static/images/devices_logo/logo.png" alt="">
                    <p>Лампочка4</p>
                </div>
            </div>
        </div>
    </div>
    <div class="logs interactive-cards">
        <h2>История действий</h2>
        <div class="log-list-container">
            <p>10:05 server start</p>
            <p>10:05 server start</p>
            <p>10:05 Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa deserunt dolorum exercitationem impedit, itaque saepe similique vel! Aliquid amet doloribus fugit laborum laudantium maiores provident tempore ullam? Non, vel.</p>
            <p>10:05 Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa deserunt dolorum exercitationem impedit, itaque saepe similique vel! Aliquid amet doloribus fugit laborum laudantium maiores provident tempore ullam? Non, vel.</p>
            <p>10:05 server start work without error</p>
        </div>
    </div>
<!--    <img class="ai-animation" src="/static/images/animation/assistant-ezgif.com-cut.gif" alt="">-->
</div>