<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/static/stylesheets/{{page}}.css'/>
    <link rel='stylesheet' href='/static/stylesheets/style.css'/>
    {{#if isSignInUp}}
        <link rel='stylesheet' href="/static/stylesheets/signinup.css"/>
    {{/if}}
</head>
<body>
<header>
    <img src="/static/images/menu-icon.svg" class="menu-button" alt="menu button">

    <img src="/static/images/logo.svg" class="logo-img" alt="logo">
<!--    <a href="/account"><img src="/static/userdata/avatar/logo.png" class="avatar-img" alt="avatar"></a>-->
    <a href="/account" class="avatar-img"><i class="bi bi-person"></i></a>
</header>
<nav>
    <ul class="nav-buttons-list">
        <li><a href="/">Главная</a></li>
        <!--<li><a href="/scenarios">Сценарий</a></li>-->
        <li><a href="/devices">Устройства</a></li>
        <li><a href="/help">Помощь</a></li>
    </ul>
</nav>
<main>
    {{{body}}}
</main>


<script src="/static/javascripts/cookies.js"></script>
<script src="/static/javascripts/script.js"></script>
{{#if isSignInUp}}
    <script src="/static/javascripts/signInUp.js"></script>
{{/if}}
{{#if isAccount}}
    <script src="/static/javascripts/account.js"></script>
{{/if}}
</body>
</html>
